<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <!--1-->
      <service name="CCWorkbench.Server.Service1" behaviorConfiguration="behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.76.37.152:5031/ser1"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="CCWorkbench.Server.IService1"></endpoint>
      </service>
      
      <!--2-->
      <service name="CCWorkbench.Server.Service2" behaviorConfiguration="behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.76.37.152:5031/ser2"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="CCWorkbench.Server.IService2"></endpoint>
      </service>

      <!--3-->
      <service name="WcfServiceLibrary1.Service1" behaviorConfiguration="behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.76.37.152:5031/ser3"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="WcfServiceLibrary1.IService1"></endpoint>
      </service>

      <!--4-->
      <service name="WcfServiceLibrary1.ServiceTest" behaviorConfiguration="behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.76.37.152:5031/ser4"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="WcfServiceLibrary1.IServiceTest"></endpoint>
      </service>

      <!--5-->
      <service name="WcfServiceLibrary1.ServiceDouble" behaviorConfiguration="behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.76.37.152:5031/ser5"/> 
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="WcfServiceLibrary1.IServiceTest"></endpoint>
        <endpoint address="" binding="wsHttpBinding" contract="WcfServiceLibrary1.IService1"></endpoint>
      </service>



    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>